{% trans_default_domain('field.country') %}

<div data-bg="/assets/field_country/{{ value }}.svg" class="lazy rounded-circle bg-cover" style='width: 20px; height: 20px;' title='{{ value|trans }}'></div>
