{% trans_default_domain('field.country') %}
<div class='d-flex gap-3 align-items-center'>
	<div data-bg="/assets/field_country/{{ value }}.svg"
			class="lazy rounded-circle bg-cover"
			style='width: 20px; height: 20px;'
			title='{{ value|trans }}'></div>
	
	<span>{{ value|trans }}</span>
</div>